.mi-downloads {
  border: 1px solid #EEEEEE;
  border-radius: 3px;

  & > div {
    padding: 10px 20px 20px 10px;
  }

  h3, h4 {
    background-color: $mi_color_gold;
    padding: 3px 10px;
    color: #FFFFFF;
  }

  h3 > span, h4 > span {
    float: right;
  }

  @include mnciconlist($mi_color_darkred, "\eadf"); // tick);
  li.application-msword:before {
    content: "\eae1";
    color: $mi_color_blau2;
  }

  li.application-vnd-ms-excel:before {
    content: "\eae2";
    color: #2b8a2d;
  }
}